// LAYOUTS

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.display-flex {
  display: flex;
}

// COLORS

.background-pink {
  background-color: $color-light-pink;
}
.font-white {
  color: white;
}
