.section-book {
  background-color: $color-dark-purple;

  .book-image {
    padding: 8rem 0rem;
    position: relative;

    &__container {
      height: 60rem;
      width: 60rem;
      background-color: $color-light-pink;
      border-radius: 100%;
      margin: 0rem auto;
      padding: 5rem 0rem;

      @include respond(phone-big) {
        height: 40rem;
        width: 40rem;
      }

      &::after {
        content: "";
        display: inline-block;
        background-color: transparent;
        border: 0.2rem solid $color-light-pink;
        height: 60rem;
        width: 60rem;
        border-radius: 100%;
        position: absolute;
        top: 15%;
        right: 21%;

        @include respond(tab-land) {
          right: 18%;
        }
        @include respond(tab-port) {
          right: 8%;
        }
        @include respond(phone-big) {
          height: 40rem;
          width: 40rem;
          top: 18%;
          right: 2%;
        }
      }
    }
  }

  .book-button {
    padding: 4rem;
    display: flex;
    justify-content: center;

    .book__button:link,
    .book__button:visited {
      font-size: 5rem;
      text-transform: uppercase;
      color: white;
      background-color: $color-light-pink;
      padding: 2rem 5rem;
      border-radius: 2rem;
      text-decoration: none;
      margin: 3rem 0rem 20rem 0rem;
      font-weight: 600;
      transition: all 0.4s;

      @include respond(phone-big) {
        font-size: 4rem;
      }
    }

    .book__button:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0rem 1rem 3rem rgba(black, 0.6);
    }

    .book__button:active {
      transform: translateY(0rem);
      box-shadow: none;
    }
  }
}
