.section-description {
  background-color: $color-dark-purple;

  .descirption-container {
    display: flex;
    flex-direction: column;
  }

  .description-information {
    background-color: $color-light-pink;
  }

  .description-image {
    background-color: $color-light-pink;
    position: relative;
    display: flex;
    justify-content: center;
    clip-path: polygon(0 10%, 83% 10%, 83% 90%, 0 90%);

    .description__image {
      height: 50rem;
      width: 50rem;
      padding: 4rem;
      overflow: visible;
    }
  }
}
