.container {
  display: flex;

  @include respond(tab-land) {
    display: block;
  }
}

.heading {
  display: flex;
  background-color: $color-dark-purple;
  flex: 1;
  height: 100vh;

  @include respond(tab-land) {
    height: 35vh;
    justify-content: center;
  }

  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 15;
    width: 100%;
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0rem 4rem;
    height: 90%;
    width: 90%;
    background-image: url("../../Images/skydive-dubai-image.png");
    background-position: center;
    border-radius: 18rem;

    @include respond(tab-port) {
      height: 80%;
      width: 80%;
    }
  }
}

.section-1-of-3 {
  flex: 0 0 30%;
}

.section-2-of-3 {
  flex: 1;
  padding-left: 4rem;
  background-color: $color-light-pink;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(tab-port) {
    padding-left: 0rem;
  }
}
