.book__list {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;

  @include respond(phone-big) {
    display: block;
  }
}

.book__item {
  display: flex;
  align-items: center;

  @include respond(phone-big) {
    justify-content: center;
  }

  &:not(last-of-type) {
    margin-right: 5rem;

    @include respond(phone-big) {
      margin-bottom: 5rem;
    }
  }
}

.book__icon {
  height: 10rem;
  width: 10rem;
  margin-right: 2rem;
}
